# Website Availability Check

Will use Requests to check if a website is available

In [1]:
#importing required libraries
import requests

Insert the URL you want to check below

In [2]:
url="http://www.google.edu"

In [3]:
try:
    response=requests.get(url)

    if response.status_code==200:#Code 200 is for successful requests.
        print(f"Website with url: {url} could be found")
    else:
        print(f"Website with url: {url} could not be found")
except:
    print(f"Website with url: {url} could not be found,")#in case of timeout or other situations where Requests gets an error

Website with url: http://www.google.edu could not be found,

# Question 5

In [4]:
import requests
import pandas as pd

In [5]:
baseurl='https://datos.gob.mx/busca/api/action/package_search'

In [6]:
response=requests.get(baseurl)
datasets_names=response.json()
dataset_numbers=datasets_names["result"]["count"]
print(f"There are {dataset_numbers} datasets available.")

There are 9458 datasets available.

In [7]:
baseurl="https://datos.gob.mx/busca/api/action/"

url=baseurl+f'package_search?facet.field=["res_format"]&facet.limit=45'
response=requests.get(url)
nums=response.json()
formatdict=nums["result"]["facets"]["res_format"]

In [8]:
formats_df=pd.DataFrame.from_dict(formatdict,orient='index',columns=["Total Entries"])
formats_df=formats_df.sort_values("Total Entries",ascending=False)
formats_df

                                                 Total Entries
CSV                                                       4762
ZIP                                                       1572
XLS                                                        916
vnd.ms-excel                                               828
JSON                                                       823
PDF                                                        804
XLSX                                                       544
vnd.google-earth.kml+xml                                   158
SHP                                                        140
TXT                                                        108
KML                                                         99
vnd.google-earth.kmz                                        33
XML                                                         29
kmz                                                         27
php                                                         23
DOCX                                                        21
oracle                                                      21
RAR                                                         21
kml                                                         18
KMZ                                                         15
view                                                        14
ArcGIS                                                      14
DOC                                                         13
csv                                                         12
Word                                                        12
arcGis                                                      11
SQL                                                         10
CSV (delimitado por comas)                                   9
CSV, EXCEL                                                   9
ODT                                                          8
Oracle                                                       7
MySQL                                                        7
GeoJSON                                                      6
ORACLE                                                       6
HTML                                                         6
SHAPE                                                        6
Adobe Acrobat Reader                                         5
SQL Server 2012                                              5
ODS                                                          5
shape                                                        4
Plataforma Joomla, Formato de los archivos .CSV              4
ArcGis                                                       4
Excel                                                        4
soap+xml                                                     4
CSV, XLS, XML                                                4

# Question 6

In [9]:
import requests
import pandas as pd
import json

In [10]:
url="https://analytics.usa.gov/data/live/realtime.json"
response=requests.get(url)
rjson=response.json()

In [11]:
tabledicts={"Active Visitors":[int(rjson['data'][0]['active_visitors'])],"Time of observation":[rjson["taken_at"]]}
finaltable=pd.DataFrame(tabledicts)
finaltable

   Active Visitors       Time of observation
0           321196  2022-02-03T02:46:26.803Z